/* this is for font  */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --pramary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-light-gray: #f4f4f4;
  --primary-gray: #ccd1d9;
  --primary-dark-gray: #666666;
  --primary-color12: #000033;
  /* --primary-dark: rgba(255, 255, 255,0); */

  --primary-dark: rgba(52, 58, 6);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}
/*                            Navbar                                     */
body {
  font-family: "Raboto Condensed ", sans-serif !important;
}
nav {
  z-index: 2;
}

.logo {
  width: 9.25rem;
}

/* ****************************************Menue Links ***************** */
nav a.nav-link {
  /* font-weight: 500; */
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;

  cursor: pointer;
}
.color12 {
  background-color: var(--primary-color12) !important;
}
nav ul li {
  text-transform: uppercase;
}
.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--pramary-white) !important;
  border-top: 0.1875rem solid var(--primary-color12);
}
.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 3.2rem !important;
}
@media (max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}
/* for adding the line on active link */
.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}
.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}
/* ***********************************Header style ******************************** */
.header-wrapper {
  /* filter: brightness(70%); */
  background-color: black;
  position: relative;
  background: url(background1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.main-info {
  /* filter: brightness(100%); */
  display: flex;
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Raboto Condensed ", sans-serif;
  z-index: 1;
}
.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

/* ***********************************typed text  ******************************** */
.typed-text {
  font-size: 2rem;
  color: var(--pramary-white);
}
@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }
  .typed-text {
    font-size: 1.6rem !important;
  }
}
/* ***********************************header main offer btn  ******************************** */
.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--pramary-white);
  margin: 2rem;
  text-decoration: none;
  border-radius: 5px;
}
.btn-main-offer:hover {
  text-decoration: none;
  /* border-radius: 5px; */
  background-color: var(--primary-hover-red);
  transition: 0.2s ease-in-out;
}
/* *********************************** particles  ******************************** */
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
@media (max-width: 768px) {
  .particles-canvas {
    display: none;
  }
  .main-info {
    top: 1%;
  }
}
/* ***********************************  ABOUT ME  ******************************** */
.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid;
  color: var(--primary-orange);
}
.about-heading {
  color: var(--primary-orange);
  text-transform: uppercase;
}
@media (max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
  .centerwhilesmall {
    justify-content: center;
    text-align: center;
  }
}
/* ***********************************  SERVICES  ******************************** */
.services {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-light-gray);
}
.services h1 {
  color: var(--primary-dark);
  text-transform: uppercase;
}
.services .circle {
  position: relative;
  margin: 0.375rem auto;
  background: var(--primary-orange);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}
.services .icon {
  font-size: 1.4rem;
  color: var(--pramary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services .box {
  height: 16rem;
  border-bottom: 0.3125rem solid var(--primary-orange);
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  background: var(--pramary-white);
}
.services .box:hover {
  background: var(--primary-orange);
  border-bottom: 0.3125rem solid var(--primary-dark);
}
.services .box:hover .icon {
  color: var(--primary-dark);
}
.services .box:hover .circle {
  background: var(--pramary-white);
}
.services .box:hover p {
  color: var(--pramary-white);
}
/* ***********************************  EXPERIENCE  ******************************** */
.experience {
  padding: 0.7rem;
}
.experience-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}
.experience h1 {
  text-transform: uppercase;
  color: var(--primary-orange);
}
.experience-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-gray);
  z-index: 1;
}
.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}
.timeline-block-right {
  float: right;
}
.timeline-block-left {
  float: left;
  direction: rtl;
}
.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-dark);
  background: var(--primary-orange);
  margin-top: 0.625rem;
  z-index: 3;
}
.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-dark-gray);
  direction: ltr;
}
.timeline-content h3 {
  margin-top: 0.3125rem;
  color: var(--primary-red);
  font-weight: 900;
}
/*************** media  ***************/
@media (max-width: 768px) {
  .experience .container {
    padding-left: 0;
  }
  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block {
    float: none;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }
  .timeline-block-left {
    float: none;
    width: 100%;
    direction: ltr;
  }
}
